#topGreeter {
    text-align: left;
    margin-top: 0;
    position: static;
    margin-left: 20px;
    color: var(--timberwolf);

}

.home-page-main-format {
    /* General layout and container */
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    min-height: 100vh; /* Set a minimum height for the page */
    background-color: var(--white); /* Use a CSS variable for background color */
    padding: 20px;
    flex-direction: column;
}
