#topGreeter {
    text-align: left;
    margin-top: 0;
    position: static;
    margin-left: 20px;
    color: var(--timberwolf);

}

.home-page-main-format {
    /* General layout and container */
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    min-height: 100vh; /* Set a minimum height for the page */
    background-color: var(--gray7); /* Use a CSS variable for background color */
    padding: 20px;
    flex-direction: column;
}

.user-icon {
    font-size: 30px;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    color: var(--primary-dark);
}

.calendar-icon {
    font-size: 30px;
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
    color: var(--primary-dark);
}

.color-icon {
    color: var(--white)
}
