.delete-confirmation {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    background-color: var(--gray6);
    padding: 15px;
    border-radius: 8px;
}

.delete-confirmation p {
    margin-bottom: 10px;
    font-weight: bold;
}

.cancel-button,
.confirm-button {
    background-color: #fff;
    color: black;
    border-radius: 4px;
    padding: 8px 12px;
    cursor: pointer;
}

.confirm-button {
    background-color: var(--vermilion);
    color: white;
}

/* Estilo general para la tabla */
.table-container {
    margin-top: 20px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilo para la cabecera de la tabla */
.MuiTableHead-root {
    background-color: var(--primary-dark); /* Color de fondo de la cabecera */
}

/* Asegúrate de usar la clase correcta para el color del texto */
.MuiTableCell-head {
    color: #ffffff !important; /* Color del texto de la cabecera */
}


/* Estilo para las filas de la tabla */
.MuiTableBody-root tr:hover {
    background-color: #f1f1f1; /* Color de fondo al pasar el mouse sobre la fila */
}

/* Estilo para las celdas de la tabla */
.MuiTableCell-body {
    padding: 12px; /* Espaciado interno de las celdas */
}

/* Estilo para los iconos de editar y eliminar */
.edit-icon, .delete-icon {
    cursor: pointer; /* Cambia el cursor al pasar sobre el icono */
    margin-left: 8px; /* Espaciado entre los iconos */
    color: var(--primary-dark); /* Color del icono */
}

.centered-cell {
    text-align: center;
}


