.main-page-format {
    --bs-bg-opacity : 1;
    background-color: rgba(var(--bs-primary-rgb), var(--bs-bg-opacity));

    justify-content: center;

    height: 100vh;

    display: flex;

    box-sizing: border-box;
}

.heading-container {
    height: 500px;
    line-height: 100px;
    text-align: center;
    border: 2px;
}

#deleteAccountButton {
    position : absolute;
    bottom: 30px;
    border-radius: 5px;
    border: red solid 2px;
    background-color: white;
    margin: auto;
    left: 20%;
    right: 20%;
    width: 20%;
    min-width: 200px;
}

#deleteAccountButton:hover {
    background-color: red;
    transition: background-color 0.3s;
}

.formsPosition {
    margin: 0 auto;
    width: 75%;
}