.main-page-format {
    --bs-bg-opacity : 1;
    background-color: rgba(var(--bs-primary-rgb), var(--bs-bg-opacity));

    justify-content: center;

    height: 100vh;

    display: flex;

    box-sizing: border-box;
}

.heading-container {
    height: 500px;
    line-height: 100px;
    text-align: center;
    border: 2px;
}

.btn-carefull {
    --bs-btn-color: #fff;
    --bs-btn-bg: #970005;
    --bs-btn-border-color: #970005FF;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #970005FF;
    --bs-btn-hover-border-color: #970005FF;
    --bs-btn-focus-shadow-rgb: 60, 153, 110;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #970005FF;
    --bs-btn-active-border-color: #970005FF;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #970005FF;
    --bs-btn-disabled-border-color: #970005FF;
    outline: 3px solid #970005;
}

.delete-account-container {
    height: 200px;
}