:root {
    --raisin-black: #372f32ff;
    --wenge: #504746ff;
    --timberwolf: #d8d8d8ff;
    --tea-rose-red: #f7cbcaff;
    --vermilion: #ff3633ff;
}
.userPage {
    background-color: white;
    padding: 0.75rem;
    border-radius: 0.25rem;
    width: 90%;
}

.heading-container {
    height: 500px;
    line-height: 100px;
    text-align: center;
    border: 2px;
}

#deleteAccountButton:hover {
    background-color: #8B0000;
    transition: background-color 0.1s;
}

.formsPosition {
    margin: 0 auto;
    width: 75%;
}

/*--------NEEDED---------*/
#saveButton {
    display: inline-block;
    padding: 5px 20px;
    border: 1px solid var(--wenge);
    border-radius: 5px;
    cursor: pointer;

    background-color: var(--wenge);
    color: var(--timberwolf);
    width: 100%;
    height: 40px;
    text-decoration: none;
}

#deleteAccountButton {
    display: inline-block;
    padding: 5px 20px;
    border: 1px solid var(--vermilion);
    border-radius: 5px;
    cursor: pointer;

    background-color: var(--vermilion);
    color: var(--wenge);
    width: 100%;

    margin-top: 10px;
}

#confirmationText {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    font-size: 1rem;
    color: var(--timberwolf)
}

#yesButton {
    display: inline-block;
    padding: 5px 20px;
    border: 1px solid var(--wenge);
    border-radius: 5px;
    cursor: pointer;

    background-color: var(--vermilion);
    color: var(--wenge);
    width: 49%;
    height: 40px;
    text-align: center;
}

#noButton {
    display: inline-block;
    padding: 5px 20px;
    border: 1px solid var(--wenge);
    border-radius: 5px;
    cursor: pointer;

    background-color: var(--wenge);
    color: var(--timberwolf);
    width: 49%;
    height: 40px;
    text-align: center;
    margin-left: 5px;
}
#logoutButton {
    display: inline-block;
    padding: 5px 20px;
    border: 1px solid var(--wenge);
    border-radius: 5px;
    cursor: pointer;

    background-color: var(--wenge);
    color: var(--timberwolf);
    width: 35%;
    height: 40px;
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
}
