.signupPage {
    background-color: white;
    padding: 0.75rem;
    border-radius: 0.25rem;
    width: 90%;
}

#signupForms {
    display: block;
    width: 100%;
    padding: 10px;
    height: 40px;
    border-radius: 5px;
    color: var(--black);
    border: 1px solid var(--primary-dark2);
}