@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --primary-dark2: #03122F;
    --primary-dark: #11203D;
    --primary-main: #273653;
    --primary-light: #475673;
    --primary-light2: #6D7C99;

    --secondary-dark2: #1245B0;
    --secondary-dark: #2C5FCA;
    --secondary-main: #5386FA;
    --secondary-light: #78ABFF;
    --secondary-light2: #9DD0F4;

    --tertiary-dark2: #0D1A53;
    --tertiary-dark: #28356E;
    --tertiary-main: #49568F;
    --tertiary-light: #6B78B1;
    --tertiary-light2: #94A1DA;

    --state-success: #A4F572;
    --state-warning: #FCEA49;
    --state-error: #FF5146;

    --black: #151515;
    --gray2: #242424;
    --gray3: #2A2A2A;
    --gray4: #3A3A3A;
    --gray5: #585858;
    --gray6: #C1C1C1;
    --gray7: #DEDEDE;
    --white: #FFFEFC;

    --raisin-black: #372f32ff;
    --wenge: #504746ff;
    --timberwolf: #d8d8d8ff;
    --tea-rose-red: #f7cbcaff;
    --vermilion: #ff3633ff;

    /* Tipografía */
    --fontfamilysans: 'Roboto', sans-serif;

    /* Tamaños de fuente */
    --fontsize-xs: 0.75rem;    /* Extra pequeño */
    --fontsize-sm: 0.875rem;   /* Pequeño */
    --fontsize-md: 1rem;       /* Mediano */
    --fontsize-lg: 1.125rem;    /* Grande */
    --fontsize-xl: 1.25rem;     /* Extra grande */
    --fontsize-2xl: 1.5rem;     /* 2X grande */
    --fontsize-3xl: 1.875rem;    /* 3X grande */
    --fontsize-4xl: 2.25rem;     /* 4X grande */
    --fontsize-5xl: 3rem;        /* 5X grande */

    /* Altura de línea */
    --fontline-height: 1.5;     /* Altura de línea por defecto */
    --fontline-height-xs: 1.25; /* Extra pequeño */
    --fontline-height-sm: 1.5;  /* Pequeño */
    --fontline-height-md: 1.75; /* Mediano */
    --fontline-height-lg: 1.875; /* Grande */
    --fontline-height-xl: 2;    /* Extra grande */
    --fontline-height-2xl: 2.5;  /* 2X grande */
    --fontline-height-3xl: 3;    /* 3X grande */

    /* Espaciado de letras */
    --fontletter-spacingnormal: 0;    /* Espaciado normal */
    --fontletter-spacing-tight: -0.02em; /* Ajustado */
    --fontletter-spacing-wide: 0.05em; /* Ampliado */

}

.main-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--gray6);
    padding: 20px;
}
.main-page-header {
    text-align: center;
    margin-bottom: 10px;
    color: var(--primary-dark);
}

.main-page-content {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
}

.prompt {
    margin-bottom: 15px;
}

#top-text {
    color: var(--primary-dark);
}

#colouredButton {
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid var(--primary-light);
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--primary-dark2);
    color: var(--timberwolf);
    width: 100%;
    margin-bottom: 10px;
}

#defaultButton {
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid var(--primary-light);
    border-radius: 5px;
    cursor: pointer;

    background-color: var(--primary-dark);
    color: var(--timberwolf);
    width: 100%;
    margin-bottom: 10px;
    text-decoration: none;
    text-align: center;
}

#backButton {
    
    display: inline-block;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: var(--timberwolf);
    text-decoration: none;
    border-color: var(--wenge);

    position: absolute;
    top: 20px;
    left: 20px;
    width: 20px;
    height: 20px;
}

#formsInput {
    display: block;
    width: 100%;
    padding: 10px;
    height: 40px;
    border: 1px solid var(--timberwolf);
    border-radius: 5px;
}

.react-calendar__month-view__weekdays {
    color: var(--timberwolf);
}

.react-calendar__month-view__weekdays__weekday abbr {
    text-decoration: none;
}

.error-message {
    color: var(--state-error);
    font-weight: bold;
    margin-top: 10px;
}

.h1 {
    font-family: var(--fontfamilysans);
    font-size: var(--fontsize-5xl);
    line-height: var(--fontline-height-3xl);
    letter-spacing: var(--fontletter-spacingnormal); /* Corregido a 'normal' */
}

.h2 {
    font-family: var(--fontfamilysans);
    font-size: var(--fontsize-4xl);
    line-height: var(--fontline-height-2xl);
    letter-spacing: var(--fontletter-spacing-tight);
}

.p {
    font-family: var(--fontfamilysans);
    font-size: var(--fontsize-md);
    line-height: var(--fontline-height);
    letter-spacing: var(--fontletter-spacingnormal);
}

.small-text {
    font-family: var(--fontfamilysans);
    font-size: var(--fontsize-xs);
    line-height: var(--fontline-height-xs);
    letter-spacing: var(--fontletter-spacingnormal);
}
